nav {
  padding: 1em;
}

#portrait {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

#name {
  float: right;
  margin: 47px 0 47px 0;
}

.jumbotron {
  margin-left: 2em;
  margin-right: 2em;
}