body {
  width: 85%;
  max-width: 1020px;
  min-width: 870px;
  margin: auto;
  background-color: rgb(248, 249, 250); 
}

span {
  font-style: italic;
}

h4 {
  margin-bottom: 1em;
}

ul.nav-tabs {
  border-bottom: 0px solid white;
}

nav.navbar {
  padding: 1em;
  padding-bottom: 0;
}

#portrait {
  width: 190px;
  height: 190px;
  border-radius: 200px;
}

#name {
  float: right;
  margin: 52px 0 0 0;
}

#about {
  margin-bottom: 1em;
}

#skills {
  margin-bottom: 1em;
}

#skills div {
  padding: 1em 1em 1em 2em;
}

main {
  padding: 2em;
  background-color: white;
}

.page-content {
  margin-top: 2em;
}

.card a {
  text-decoration: none;
}

.card-title {
  padding-bottom: 0.5em;
}

.created-text {
  margin: 0;
  margin-bottom: 1em;
}